$colors: (
  background: #1d2d50,
  primary: #133b5c,
  secondary: #1e5f74,
  light: #fcdab7,
);

$breakpoints: (
  mobile: 480px,
);

@font-face {
  font-family: "Montserrat-Regular";
  src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}
